@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.anime-type {
	font: bold 80% Consolas, Monaco, monospace;
	width: 24ch;
	overflow: hidden;
	white-space: nowrap;
	border-right: .05em solid;
	animation: typing 1s steps(23),
	cursor 2s steps(1) infinite;
}

.anime-type-order {
	font: bold 200% Consolas, Monaco, monospace;
	width: 5ch;
	overflow: hidden;
	white-space: nowrap;
	border-right: .05em solid;
	animation: typing 1s steps(5),
	cursor 1s steps(1) infinite;
}

.anime-type-case {
    font: bold 200% Consolas, Monaco, monospace;
    width: 10ch;
    overflow: hidden;
    white-space: nowrap;
    border-right: .05em solid;
    animation: typing 1s steps(6),
    cursor 1s steps(1) infinite;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;

  /* モザイク効果 */
  filter: blur(3.5px) contrast(90%);
}

.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}