html,
body {
  padding: 0;
  margin: 0;
  background: #f7fafc;
  font-family: 'メイリオ', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 1005;
}

@keyframes typing {
	from { width: 0; }
}

@keyframes cursor {
	100% { border-right-color: transparent; }
}

.anime-type {
	font: bold 80% Consolas, Monaco, monospace;
	width: 24ch;
	overflow: hidden;
	white-space: nowrap;
	border-right: .05em solid;
	animation: typing 1s steps(23),
	cursor 2s steps(1) infinite;
}

.anime-type-order {
	font: bold 200% Consolas, Monaco, monospace;
	width: 5ch;
	overflow: hidden;
	white-space: nowrap;
	border-right: .05em solid;
	animation: typing 1s steps(5),
	cursor 1s steps(1) infinite;
}

.anime-type-case {
    font: bold 200% Consolas, Monaco, monospace;
    width: 9ch;
    overflow: hidden;
    white-space: nowrap;
    border-right: .05em solid;
    animation: typing 1s steps(6),
    cursor 1s steps(1) infinite;
}

.tele-logo {
    max-width: 100%;
    height: 200px;
    display: flex;
    box-sizing: border-box;
    margin: 0 auto;
    border-radius: 10px 10px 10px 10px;
}
